<section class="section what-do-we-do" id="what-do-we-do">
    <div class="container">
        <h1><strong class="title">Our services</strong></h1>
        <p class="lead">We help you on all the steps involved in creating or maintaining your application</p>
        <div class="row mt-5">
            <div class="col-md-6 mb-4">
                <div class="bg-white h-100 media p-4 border rounded">
                    <%= image_tag "icons/quality.png", class: "mr-3" %>
                    <div class="media-body">
                        <h5 class="mt-0">Manual Quality Control</h5>
                        We make sure your application is working as expected by rigorously checking every detail and feature.
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="bg-white h-100 media p-4 border rounded">
                    <%= image_tag "icons/automation.png", class: "mr-3" %>
                    <div class="media-body">
                        <h5 class="mt-0">Automation Quality Control - Katalon</h5>
                        Using Katalon, we make sure your core flows are working as expected in the most efficient and quickest way.
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="bg-white h-100 media p-4 border rounded">
                    <%= image_tag "icons/react.png", class: "mr-3" %>
                    <div class="media-body">
                        <h5 class="mt-0">FrontEnd - Javascript</h5>
                        We use React to deliver incredible and performant user interfaces that your clients will love!
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="bg-white h-100 media p-4 border rounded">
                    <%= image_tag "icons/java.png", class: "mr-3" %>
                    <div class="media-body">
                        <h5 class="mt-0">Backend - Java</h5>
                        Trusting on the most used and rock solid backend technology, we use Java with frameworks such as Spring for your services
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="bg-white h-100 media p-4 border rounded">
                    <%= image_tag "icons/mobile.png", class: "mr-3" %>
                    <div class="media-body">
                        <h5 class="mt-0">Mobile - React Native</h5>
                        Using React Native, we build one application that runs smoothly on Android and iOS
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>