<section class="section header d-flex">
    <div class="container align-self-center">
        <div class="row">
            <div class="col-lg-6 text-center my-3">
                <h1 class="header-title">
                    Have an idea to work on?<br />
                    Let us help you
                </h1>
                <a class="zoom-animation header-how-button btn btn-primary btn-big rounded-pill mt-3 px-5 py-2" href="#how">
                    How can you help me?
                </a>
            </div>
            <div class="col-lg-6 text-center my-3">
                <h1 class="header-title">
                    Already working with us? Access to our dashboard
                </h1>
                <a class="zoom-animation access-dashboard-button btn btn-primary btn-big rounded-pill mt-3 px-5 py-2" href="https://dashboard.black-mountain.com.ar/">
                    Go to dashboard
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section" id="what-do-we-do">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 d-block d-md-none mb-5">
                <div class="circular-icon-container what-do-we-do-icon">
                    <%= image_tag "icons/icon-rating-64.png" %>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 px-5">
                <h1><strong class="title">Our services</strong></h1>
                <p class="lead">
                    We create and provide support for:
                </p>
                <ul class="lead">
                    <li>Web applications</li>
                    <li>Mobile applications</li>
                    <li>Backend services</li>
                </ul>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <div class="circular-icon-container what-do-we-do-icon">
                    <%= image_tag "icons/icon-rating-64.png" %>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section why-us" id="why-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 mb-5">
                <div class="circular-icon-container black-mountain-icon">
                    <%= image_tag "icons/icon-blackmountain-64.png" %>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 text-white px-5">
                <h1><strong class="title">Why us?</strong></h1>
                <p class="lead">
                    We focus on delivering <span class="font-weight-bold">high quality solutions</span> in a <span class="font-weight-bold">fast</span> and <span class="font-weight-bold">iterative way</span>. We want <strong>you</strong>, to be part of the team and experience the hole process, from the very beginning until you have your first clients!
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section" id="how">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h1><strong class="title">How?</strong></h1>
                <p class="lead">
                    We focus on understanding the problem our clients want to solve. We don't just simply build software, we help you build real solutions for real customers.
                    The way we do it, is by following these simple steps for the best results:
                </p>
            </div>
            <div class="col-12">
                <ul class="list-unstyled">
                    <li class="media shadow p-4 mb-3 bg-white rounded">
                        <%= image_tag "icons/icon-contact-64.png", class: "mr-4" %>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">
                                First contact
                            </h5>
                            <p>
                                We make our first contact and <strong>we want know you</strong> and <strong>hear</strong> about your idea or problem that you want to solve. Also, we want for you to hear about us, to see if we are a fit for you and if we can <strong>really</strong> help you.
                            </p>
                            <%= render 'contacts/form', contact: @contact %>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 text-muted text-uppercase mt-4 mb-2">
                <small>After first contact is made</small>
            </div>
            <div class="col-12">
                <ul class="list-unstyled">
                    <li class="media shadow p-4 mb-3 bg-white rounded zoom-animation">
                        <%= image_tag "icons/icon-search-64.png", class: "mr-4" %>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Analysis</h5>
                            <p>
                                We first identify what is the problem we want to solve.
                            </p>
                        </div>
                    </li>
                    <li class="media shadow p-4 mb-3 bg-white rounded zoom-animation">
                        <%= image_tag "icons/icon-idea-64.png", class: "mr-4" %>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Plan</h5>
                            <p>
                                After understanding the problem in a very detailed way, we build a plan or the following steps we want to follow in order to achieve a solution. We do this, considering the context, limitations and deadlines.
                            </p>
                        </div>
                    </li>
                    <li class="media shadow p-4 mb-3 bg-white rounded zoom-animation">
                        <%= image_tag "icons/icon-settings-64.png", class: "mr-4" %>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Execution</h5>
                            <p>
                                We get to work, reporting daily the current state of the progress, what will be working on and what kind of blockers we have.
                            </p>
                        </div>
                    </li>
                    <li class="media shadow p-4 mb-3 bg-white rounded zoom-animation">
                        <%= image_tag "icons/icon-refresh-64.png", class: "mr-4" %>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Iteration</h5>
                            <p>
                                We finally have reached our goal, repeat!
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>