<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153279158-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-153279158-1');
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-site-verification" content="XKPpMZl7-1muamPsg3HHWQGo_C4eOrO6LRy1rfXcyQA" />
        <meta name="detectify-verification" content="3de98ebd1672a395f8b2a850f508c3ac" />

        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;800&family=Maven+Pro&display=swap" rel="stylesheet">

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <%= display_meta_tags site: 'BlackMountain' %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
    <body data-spy="scroll" data-target="#navbar" data-offset="100">
        <nav id="navbar" class="navbar">
            <div class="container">
                <a class="navbar-brand mx-auto" href="/">
                    <%= image_tag "logo-alt.png", height: "18" %>
                </a>
                <div class="d-none mx-auto d-sm-block font-weight-bold">
                    <ul class="nav justify-content-end align-items-center">
                        <li class="nav-item">
                            <%= link_to "Who are we", welcome_index_path(anchor: "who-are-we", utm_source: "website", utm_medium: "navbar", utm_campaign: "interaction"), class: "nav-link btn-nav-outline" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "How do we work", welcome_index_path(anchor: "how-do-we-work", utm_source: "website", utm_medium: "navbar", utm_campaign: "interaction"), class: "nav-link btn-nav-outline" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Why us", welcome_index_path(anchor: "why-us", utm_source: "website", utm_medium: "navbar", utm_campaign: "interaction"), class: "nav-link btn-nav-outline" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Get in touch", welcome_index_path(anchor: "get-in-touch", utm_source: "website", utm_medium: "navbar", utm_campaign: "interaction"), class: "nav-link btn-nav-outline" %>
                        </li>
                        <li class="nav-item">
                            <a href="https://dashboard.black-mountain.com.ar/?utm_source=website&utm_medium=navbar&utm_campaign=interaction" class="nav-link btn-sm btn-orange rounded-pill">Client Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <%= yield %>
        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 text-center mb-5">
                        <%= image_tag "icons/icon-blackmountain-64.png" %>
                    </div>
                    <div class="col-12 col-md-4">
                        <h6 class="font-weight-bold">COMPANY</h6>
                        <ul class="list-unstyled">
                            <li class="py-2">
                                <%= link_to "Our services", welcome_index_path(anchor: "what-do-we-do", utm_source: "website", utm_medium: "footer", utm_campaign: "interaction") %>
                            </li>
                            <li class="py-2">
                                <%= link_to "Why working with us?", welcome_index_path(anchor: "why-us", utm_source: "website", utm_medium: "footer", utm_campaign: "interaction") %>
                            </li>
                            <li class="py-2">
                                <%= link_to "How do we work?", welcome_index_path(anchor: "how", utm_source: "website", utm_medium: "footer", utm_campaign: "interaction") %>
                            </li>
                            <li class="py-2">
                                <%= link_to "Get in touch", welcome_index_path(anchor: "get-in-touch", utm_source: "website", utm_medium: "footer", utm_campaign: "interaction") %>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4">
                        <h6 class="font-weight-bold">SOCIAL MEDIA</h6>
                        <ul class="list-unstyled">
                            <li class="py-2">
                                <a href="https://www.linkedin.com/company/blackmountain-solutions">LinkedIn</a>
                            </li>
                            <li class="py-2">
                                <a href="https://github.com/BlackMountainSolutions">GitHub</a>
                            </li>
                            <li class="py-2">
                                <a href="https://twitter.com/BlackMountainAR">Twitter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </body>
</html>
